<ng-container>
  <div class="component-header">
    <div>Add Product</div>
  </div>

  <table>
    <tr>
      <td> Name :</td>
      <td>
        <select id="product-select-id" [(ngModel)]="selectedProductId"
                (change)="onProductSelectionChange($event.target.value)">
          <option *ngFor="let product of ( productCatalog)"
                  [value]="product.id"> {{product.name}} </option>
        </select>
      </td>
    </tr>

    <tr>
      <td>Quantity :</td>
      <td><input id="product-input-id" type="number" min="0" max="100" [(ngModel)]="productQuantity"
                 (change)="onQuantitySelectionChange()"/>
      </td>
    </tr>

    <tr>
      <td>Price :</td>
      <td>{{this.selectedProductPrice | currency: '$'}}</td>
    </tr>
    <tr>
      <td></td>
      <td>
        <button id="product-add-button-id" type="button" [disabled]="!isAddValid" (click)="updateShoppingCart()">Add
        </button>
        <button id="product-cancel-button-id" type="button" (click)="clearSelection()">Cancel</button>
      </td>
    </tr>
  </table>
</ng-container>
