table {
  width: 100%
}

table th {
  border-bottom: 2px solid black;
  text-align: center;
}

table td {
  border-bottom: 1px solid black;
  text-align: center;
}


.total-wrapper {
  display: flex;
}

.total-left {
  flex: 0 0 85%;
}

.total-right {
  flex: 1;
}

// TODO : Should move to global css
.component-header {
  display: block;
  font-size: 32px !important;
  font-weight: bold !important;
  margin: 20px;
}
